@{
    ViewBag.Title = "Staff Login";
}

<h2>Staff Login</h2>
<center><font color="red">@ViewBag.Message</font></center>
<form method="post">
    <table>
        <tr><td>Email: </td><td><input type="email" name="staffEmail" /></td></tr>
        <tr><td>Password: </td><td><input type="password" name="staffPassword" /></td></tr>
        <tr><td></td><td align="center"><input type="submit" value="Log In!" /></td></tr>
    </table>
</form>